# MEMBRE DU GROUPE:
    SIDY NDIAYE
    FATOUMATOU B. DRAME
    MOUHAMADOU MOUSTAPHA NDIAYE
    MOHAMED LEYE

EXERCICE_1:

In [1]:
import numpy as np
import pandas as pd 
NOM=["Dodou","Amy","Moussa"]
Age=[10,15,20]
Poids=[75,123,239]
Paille=[4.5,5.0,6.1]
Genre=['M','F','M']
dico={"NOM" : NOM, "Age" : Age, "Poids" : Poids, "Paille" : Paille, "Genre" : Genre}
df=pd.DataFrame(dico)
df

      NOM  Age  Poids  Paille Genre
0   Dodou   10     75     4.5     M
1     Amy   15    123     5.0     F
2  Moussa   20    239     6.1     M

In [2]:
import numpy as np
import pandas as pd 
d= np.array([[12,22],[20,19]])
animaux=pd.DataFrame(d, index=['an1','an2'], columns = ['Vaches','Chevres'])
animaux

     Vaches  Chevres
an1      12       22
an2      20       19

In [3]:
animaux.to_csv('vache_chevres.csv')

In [4]:
import pandas as pd
D=pd.read_csv("vache_chevres.csv")
print(D)

  Unnamed: 0  Vaches  Chevres
0        an1      12       22
1        an2      20       19

EXERCICE_2:

In [3]:
#QUESTION 1
import pandas as pd
R=pd.read_csv("boissons_evaluees.csv")
R

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity.",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth while still structured. Firm tannins are filled out with juicy red berry fruits and freshened with acidity. It's already drinkable, although it will certainly be better from 2016.",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and rind dominate. Some green pineapple pokes through, with crisp acidity underscoring the flavors. The wine was all stainless-steel fermented.",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom start off the aromas. The palate is a bit more opulent, with notes of honey-drizzled guava and mango giving way to a slightly astringent, semidry finish.",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore),Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this comes across as rather rough and tannic, with rustic, earthy, herbal characteristics. Nonetheless, if you think of it as a pleasantly unfussy country wine, it's a good companion to a hearty winter stew.",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley),Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,"Notes of honeysuckle and cantaloupe sweeten this deliciously feather-light spätlese. It's intensely juicy, quenching the palate with streams of tart tangerine and grapefruit acidity, yet wraps up with a kiss of honey and peach.",Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 Brauneberger Juffer-Sonnenuhr Spätlese Riesling (Mosel),Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,129967,US,"Citation is given as much as a decade of bottle age prior to release, which means it is pre-cellared and drinking at its peak. Baked cherry, cocoa and coconut flavors combine gracefully, with soft, secondary fruit compote highlights.",NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,129968,France,"Well-drained gravel soil gives this wine its crisp and dry character. It is ripe and fruity, although the spice is subdued in favor of a more serious structure. This is a wine to age for a couple of years, so drink from 2017.",Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Alsace),Gewürztraminer,Domaine Gresser
129969,129969,France,"A dry style of Pinot Gris, this is crisp with some acidity. It also has weight and a solid, powerful core of spice and baked apple flavors. With its structure still developing, the wine needs to age. Drink from 2015.",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,129970,France,"Big, rich and off-dry, this is powered by intense spiciness and rounded texture. Lychees dominate the fruit profile, giving an opulent feel to the aftertaste. Drink now.",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caroline Gewurztraminer (Alsace),Gewürztraminer,Domaine Schoffit

In [4]:
#QUESTION2 
import statistics as sta 
print("la mediane des points est:", sta.median(R["points"]))

la mediane des points est: 88

In [5]:
#QUESTION 3
pays_unique=R.country.unique()
pays_unique

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

In [6]:
#QUESTION 4_1
frequence=R.country.value_counts()
frequence

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

In [7]:
#QUESTION 4_2
from pandas import Series
boisson_pays=R.groupby("country").points.unique()
critique=[]
for i in range(len(boisson_pays.index)):
    critique.append(len(boisson_pays[i]))
serie_boisson=Series(critique, index=boisson_pays.index)
serie_boisson

country
Argentina                 18
Armenia                    2
Australia                 21
Austria                   17
Bosnia and Herzegovina     2
Brazil                    10
Bulgaria                  11
Canada                    13
Chile                     16
China                      1
Croatia                   11
Cyprus                     4
Czech Republic             5
Egypt                      1
England                    7
France                    21
Georgia                   10
Germany                   18
Greece                    12
Hungary                   16
India                      6
Israel                    15
Italy                     21
Lebanon                   10
Luxembourg                 3
Macedonia                  6
Mexico                    13
Moldova                   10
Morocco                    8
New Zealand               16
Peru                       7
Portugal                  21
Romania                   10
Serbia                     4
Slovakia                   1
Slovenia                  11
South Africa              14
Spain                     19
Switzerland                3
Turkey                     9
US                        21
Ukraine                    6
Uruguay                   13
dtype: int64

In [8]:
#QUESTION 5
prix_moyen=R.price.mean()
prix_centre=R.price.map(lambda p:p-prix_moyen)
prix_centre

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

In [9]:
#question_6
import numpy as np
qualité_prix=R.points/R.price
boisson_negocie=R.winery[np.argmax(qualité_prix)]
print("la boisson meilleur qualité/prix est le ",boisson_negocie)

la boisson meilleur qualité/prix est le  Bandit

In [10]:
boisson_negocie=R.points/R.price
indice_meilleure_boisson=np.where(boisson_negocie.values==boisson_negocie.max())
meilleure_boisson=[]
for i in range(len(indice_meilleure_boisson[0])):
    meilleure_boisson.append(R.winery[indice_meilleure_boisson[0][i]])
print("la boisson presentant le meilleur rapport est " , meilleure_boisson)

la boisson presentant le meilleur rapport est  ['Bandit', 'Cramele Recas']

EXERCICE_3:

In [11]:
#QUESTION_1.1
frequence_boisson=R.points.value_counts()
print("les frquences de critiques les plus trouver sont\n"
      ,frequence_boisson.index[0:6])

les frquences de critiques les plus trouver sont
 Int64Index([88, 87, 90, 86, 89, 91], dtype='int64')

In [12]:
#QUESTION_1.2
twitt=R.groupby('taster_twitter_handle').points.unique()
critique_boisson=[]
for i in range(len(twitt.index)):
    critique_boisson.append(len(twitt[i]))
serie_twitt=Series(critique_boisson, index=twitt.index)
serie_twitt

taster_twitter_handle
@AnneInVino         17
@JoeCz              21
@bkfiona             7
@gordone_cellars    18
@kerinokeefe        21
@laurbuzz           15
@mattkettmann       17
@paulgwine          21
@suskostrzewa       15
@vboone             20
@vossroger          21
@wawinereport       18
@wineschach         19
@winewchristina      4
@worldwineguys      16
dtype: int64

In [20]:
#QUESTION_2.1
prix=int(input("entrez votre prix: "))
df_achat=R['price']<=prix
df_achats=R[df_achat]
boisson_negocie=df_achats.points/df_achats.price
indice_meilleure_boisson=np.where(boisson_negocie.values==boisson_negocie.max())
meilleure_boisson=[]
for i in range(len(indice_meilleure_boisson[0])):
    meilleure_boisson.append(R.title[indice_meilleure_boisson[0][i]])
print("meilleur boisson pour le prix de ",prix," est" , meilleure_boisson)

entrez votre prix: 24
meilleur boisson pour le prix de  24  est ['Rivetto 2010 Cé Vanin  (Barbaresco)', 'Left Bend 2013 Cabernet Sauvignon-Syrah (Santa Clara County)']

In [14]:
#QUESTION_2.2
boisson_trie=R.groupby('price').points.max()
boisson_trier= boisson_trie.sort_values()
boisson_trier

price
4.0        86
5.0        87
790.0      87
181.0      88
3300.0     88
         ...
617.0     100
450.0     100
650.0     100
460.0     100
150.0     100
Name: points, Length: 390, dtype: int64

In [15]:
#QUESTION_3.1
h=R.groupby('variety').price.min()
g=R.groupby('variety').price.max()
print("les prix max pour chaque cepage est : ",g,"\nles prix min pour chaque cepage est : ",h)

les prix max pour chaque cepage est :  variety
Abouriou        75.0
Agiorgitiko     66.0
Aglianico      180.0
Aidani          27.0
Airen           10.0
               ...
Zinfandel      100.0
Zlahtina        16.0
Zweigelt        70.0
Çalkarası       19.0
Žilavka         15.0
Name: price, Length: 707, dtype: float64
les prix min pour chaque cepage est :  variety
Abouriou       15.0
Agiorgitiko    10.0
Aglianico       6.0
Aidani         27.0
Airen           8.0
               ...
Zinfandel       5.0
Zlahtina       13.0
Zweigelt        9.0
Çalkarası      19.0
Žilavka        15.0
Name: price, Length: 707, dtype: float64

In [16]:
#QUESTION_3.2
df_variete=pd.DataFrame({'min': h,'max':g})
df_variete

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

In [17]:
#QUESTION_4
serie_taster_name_points=R.groupby('taster_name').points.mean()
serie_taster_name_points

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

In [19]:
#QUESTION_5
R.points.dtype

dtype('int64')

In [18]:
#QUESTION_6
prix_no_manquante=R[pd.isnull(R.price)]
print("le nombre de prix manquante est de ",len(prix_no_manquante))

le nombre de prix manquante est de  8996